@page "/getintouch"
<div class="text-center border my5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
         ALO 1234567890 Utku OZEN bilgi ve destek hattı
        </p>
        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>
         HATAY
        </p>
        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>
            utkuozen01@gmail.com
        </p>
    </div>
</div>